<div class="cat_designs_containers" id="neckdesigns_cont" style="display:none">
    <div class="show trending_designs_" id="neckdesigns2_Trending_Designs">
        <!-- <button class="adddesigns" onclick="document.getElementById('trending_design_form').style.display = 'block'">Add -->
            Image</button>

        <h1>Neck Trending Designs</h1>
        <% if(NeckdesignsTrending !=null) { %>
            <% NeckdesignsTrending.reverse().forEach(function(item){ %>
                <div class="trending_designs_child">
                    <% if(item.itemimg==null) {%>
                        <img src="\static\blouseimages\images.jpg" alt="">
                        <% } else {%>
                            <div class="trending_designs_image_box">
                                <a onclick="Deletion_confirmation(event,this)"
                                    href="/Neckdesigns/delete/trending/<%= NeckdesignsResult._id %>/<%= item._id %>"><i
                                        class="material-icons">delete</i></a>
                                <img src="data:image/<%=item.itemimg.contentType%>;base64,<%=item.itemimg.data.toString('base64')%>"
                                    alt="">
                            </div>
                            <% } %>
                                <div class="trending_designs_title_box">
                                    <h5>
                                        <%= item.itemtitle %>
                                    </h5>

                                </div>
                </div>
                <% }) %>
                    <% } %>


    </div>
    <div class="hide trending_designs_" id="neckdesigns2_More_Designs">
        <!-- <button class="adddesigns" onclick="document.getElementById('more_design_form').style.display = 'block'">Add -->
            Image</button>
        <h1>Neck More Designs</h1>
        <% if(NeckdesignsMore !=null) { %>
            <% NeckdesignsMore.reverse().forEach(function(item){ %>
                <div class="trending_designs_child">
                    <% if(item.itemimg==null) {%>
                        <img src="\static\blouseimages\images.jpg" alt="">
                        <% } else {%>
                            <div class="trending_designs_image_box">
                                <a onclick="Deletion_confirmation(event,this)"
                                    href="/Neckdesigns/delete/more/<%= NeckdesignsResult._id %>/<%= item._id %>"><i
                                        class="material-icons">delete</i></a>
                                <img src="data:image/<%=item.itemimg.contentType%>;base64,<%=item.itemimg.data.toString('base64')%>"
                                    alt="">
                            </div>
                            <% } %>
                                <div class="trending_designs_title_box">
                                    <h5>
                                        <%= item.itemtitle %>
                                    </h5>

                                </div>
                </div>
                <% }) %>
                    <% } %>

    </div>

    
    <div class="hide trending_designs_"  id="neckdesigns2_Slides_Designs" >
        <!-- <button class="adddesigns" onclick="document.getElementById('slides_design_form').style.display = 'block'">Add Image</button> -->
        <h1>Neck Slides</h1>
        <% if(NeckdesignsSlides != null) { %>
            <% NeckdesignsSlides.reverse().forEach(function(item){ %>
                <div class="trending_designs_child">
                 
                    <% if(item.itemimg == null) {%>
                        <img  src="\static\blouseimages\images.jpg" alt="">
                    <% } else {%>
                        <div class="trending_designs_image_box">
                            <a onclick="Deletion_confirmation(event,this)" href="/Neckdesigns/delete/slides/<%= NeckdesignsResult._id %>/<%= item._id %>"><i class="material-icons">delete</i></a>  
                            <img src="data:image/<%=item.itemimg.contentType%>;base64,<%=item.itemimg.data.toString('base64')%>" alt="">
                        </div>
                    <% } %>
                    
                </div>
            <% }) %>
        <% } %>  


    </div>


</div>